* {
  font-family: Vazir;
}

#overlay{
  display: grid;
  height: 100%;
  transition: 1s 0.4s;
  justify-items: center;
  align-items: center;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.1fr);
  justify-items: center;
  align-items: center;
}

.main-title {
  grid-column: 2/-2;
}

.description {
  grid-column: 2/-2;
}

.message {
  grid-column: 2/-2;
}

.submit-form {
  grid-column: 2/-2;
}


.btn button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffffff),
    color-stop(1, #f6f6f6)
  );
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  padding: 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  width: 100%;
}

.btn button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f6f6f6),
    color-stop(1, #ffffff)
  );
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}

.btn button:active {
  position: relative;
  top: 1px;
}

.error {
  color: red;
  margin: 0.2rem 0.1rem 0.2rem 0;
}

input {
  width: 100%
}

.misc-page-wrapper {
  display: grid;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 2fr);
  justify-items: center;
  align-items: center;
}

.misc-page-main {
  margin-top: 10rem;
  grid-column: 2/-2;
}

.gif {
  margin-top: 3rem;
  grid-column: 2/-2;
}

