<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>

<head>
  <title>کتاب کده</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body dir="rtl">

  <div id="overlay">
    <img src="https://media.giphy.com/media/o5oLImoQgGsKY/200w_d.gif" alt="...loading" />
  </div>
  <div class="wrapper">
    <div class="main-title">
      <h1>کتاب کده</h1>
    </div>
    <div class="description">
        <p>سلام دوست عزیز سایت هنوز بالا نیومده :(( ولی به زودی میاد میتونی ایمیلت رو توی فرم زیر
          وارد کنی تا به محض
          بالا آومدن سایت بهت خبر بدیم</p>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="message">
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="submit-form">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
          <bdo dir="ltr">{{ form.email }}<br></bdo>
        </p>
          {% for error in form.email.errors %}
          <div class="error">{{ error }}</div>
          {% endfor %}
          <div class="recaptcha">
            {{ form.recaptcha }}
            {% for error in form.recaptcha.errors %}
              <div class="error">{{ error | captcha_error_translation }}</div>
            {% endfor %}
          </div>
          <div class="btn">
            <button type="submit"> ثبت</button>
          </div>
      </form>
    </div>
  </div>
</body>

</html>

